.home-content {
  margin: 72px 1rem;

  @media (min-width: 768px) {
    max-width: 1120px;
    margin: 72px auto;
  }

  .home-heading {
    color: var(--text-heading);
    font-size: 20px;
  }

  .home-d-flex {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    .h-separator {
      background: #E3E3E5;
      height: 1px;
      width: 100%;
    }
  }
}